<div class="m-3">
    <a href="/Books/Details/@Book.Id">
        <div class="book-card">
            <div class="book-cover" style="background-image: url('@Book.FirstImageUrl')"></div>
            <div class="book-info">
                <h3 class="book-title">@Book.Title</h3>
                @foreach (var author in Book.Authors)
                {
                    <p class="book-author">@author.Name</p>
                }
                <p class="book-author">@Book.Publisher.Name</p>
                @foreach (var genre in Book.Genres)
                {
                    <p class="book-genre">@genre.Name</p>
                }
                <p class="book-price">€ @Book.Price</p>
            </div>
        </div>
    </a>
</div>