@page
@model BookCatalog.Web.Pages.IndexModel

<div>
    <div class="container col-l-10 col-xl-11 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col">
            <img src="https://images.pexels.com/photos/159866/books-book-pages-read-literature-159866.jpeg" class="d-block mx-lg-auto img-fluid shadow-lg rounded-3 w-100" alt="Bootstrap Themes" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="mb-3">Welcome to the bookcatalog website</h1>
                <p>We have the largest bookcatalog in Italy containing @Model.StatisticsPrice.FirstOrDefault(x => x.Key == StatisticsOptions.TotalBooks).Value books, we have many locations and are known for the amount of genres that are classed in the catalog</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a asp-page="/Books" class="btn btn-primary btn-lg px-4 me-md-2">Books</a>
                <a asp-page="/Contact" class="btn btn-outline-secondary btn-lg px-4">Contact</a>
            </div>
        </div>
    </div>
</div>
<hr />

    <div class="container col-l-10 col-xl-11 px-4 py-5">
        <div class="row flex-lg-row flex-sm-column-reverse align-items-center g-5 py-5">
            <div class="col col-sm-8 m-auto d-flex align-items-center text-center col-lg-6 align-content-center">
                    <partial name="_CarouselBooksPartial" model="@Model.Carousel" />
            </div>
            <div class="col-lg-6 pb-7">
                <h1 class="mb-3">Statistics</h1>
                <p>In our BookCatalog we have prices from ranges starting at @Model.StatisticsPrice.FirstOrDefault(x => x.Key == StatisticsOptions.StatisticsType).Value @Model.StatisticsPrice.FirstOrDefault(x => x.Key == StatisticsOptions.Min).Value to @Model.StatisticsPrice.FirstOrDefault(x => x.Key == StatisticsOptions.StatisticsType).Value @Model.StatisticsPrice.FirstOrDefault(x => x.Key == StatisticsOptions.Max).Value  
                    But our prices are on average around @Model.StatisticsPrice.FirstOrDefault(x => x.Key == StatisticsOptions.StatisticsType).Value @Math.Round((decimal)@Model.StatisticsPrice.FirstOrDefault(x => x.Key == StatisticsOptions.Average).Value, 2).</p>
            </div>
        </div>
    </div>
</div>
