@model HomeViewModel


<div class="pt-5 row h-auto d-flex w-100  justify-content-center align-content-center align-items-center text-center">
    <div class="bg-body-secondary shadow col-11 rounded-5 row h-auto d-flex  justify-content-center align-content-center align-items-center text-center">
        <h1 class="col-6">
            WELCOME TO THE BOOKCATALOG APPLICATION
        </h1>
        <img class="col-6 rounded-5 p-4" src="https://images.pexels.com/photos/159866/books-book-pages-read-literature-159866.jpeg" alt="Book" />
    </div>
</div>

<div class="py-5  row h-auto d-flex w-100  justify-content-center align-content-center align-items-center text-center">
    <div class="bg-body-secondary container shadow col-11 rounded-5 row h-auto d-flex  justify-content-center align-content-center align-items-center text-center">

    <div class="row w-50 p-4 m-auto align-content-center align-middle text-center m-auto justify-content-center">
        <partial name="_CarouselBooks" model="@Model.Carousel" />
    </div>
    <div class="row w-50 m-auto">
        <h1>Statistics</h1>
            <p>Average: @Math.Round((decimal)Model.Average, 2) @Model.StatisticsType</p>
            <p>Total Books: @Model.TotalBooks</p>
            <p>Min: @Model.Min @Model.StatisticsType</p>
            <p>Max: @Model.Max @Model.StatisticsType</p>
    </div>
    </div>
</div>