@page
@model BookCatalog.Web.Pages.Authors.IndexModel
<h1 class="pt-5 text-center">Authors</h1>
@if (User.IsInRole("Administrator"))
{
    <a asp-page="/Authors/Form" style="width:fit-content" class="d-flex m-auto new-book-btn">New Author</a>
}
<div class="rounded-5 mt-5">
    @foreach (var author in Model.Authors)
    {
        <div class="d-flex w-100 justify-content-center align-items-center m-4">
            <div class="w-75 m-1 shadow rounded-5 d-flex flex-row">
                <div class="col m-4 text-light-emphasis">
                    <a class="" asp-page="/Authors/Details" asp-route-AuthorId="@author.Id"><h3>@author.Name</h3></a>
                    <div class="flex-row flex-wrap d-flex">
                        <div class="m-2"><h4>Amount of books: @author.Books.Count</h4></div>
                        <div class="m-2"><h4>Min Price: @author.Min</h4></div>
                        <div class="m-2"><h4>Max Price: @author.Max</h4></div>
                        <div class="m-2"><h4>Avg Price: @Math.Round(author.Average)</h4></div>
                    </div>
                </div>
                @if (User.IsInRole("Administrator"))
                {
                    <div class="m-auto  align-content-center  text-center align-items-center  d-flex flex-sm-column flex-md-row flex-lg-row row">
                        <a class="col text-light-emphasis" asp-page="/Authors/Form" asp-route-AuthorId="@author.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="text-primary bi bi-pen-fill" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                            </svg>

                    </a>
                    <a class="col text-light-emphasis" asp-page="/Authors/Delete" asp-route-AuthorId="@author.Id">

                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class=" text-danger bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                            </svg>
                    </a>
                </div>
                }
            </div>
        </div>
    }
</div>